%form{ action: 'autocomplete', method: 'post' }
  %input{ type: 'search', placeholder: 'city', id: 'input_city' }
  %input{ type: 'search', placeholder: 'state', id: 'input_state' }
  %input{ type: 'submit', value: 'Submit', :class => 'button' }