%form{ action: 'autocomplete', method: 'post' }
  .small-12.medium-5.columns
    %input{ type: 'search', placeholder: 'city', id: 'input_city' }
  .small-12.medium-5.columns
    %input{ type: 'search', placeholder: 'state', id: 'input_state' }
  .small-12.medium-2.columns
    %input{ type: 'submit', value: 'Submit', :class => 'button' }